.quantumsbuilder-wrap {
    position: relative;
}

.quantumsbuilder-wrap > div {
    display: none;
}

.quantumsbuilder {
    display: block !important;
    width: 100%;
    height: 100%;
}

.quantumsbuilder-wrap .quantumsbuilder-close {
    display: block;
    background-color: #027af4;
    border-radius: 25px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 30px;
    cursor: pointer;
    z-index: 3;
}